#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    margin: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
}

/*Div Main*/
.matriz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 3000;
}

/*Div Container*/
.panel{
    border-color: white;
    border-style: solid;
    border-radius: 10px;
    box-shadow: inset 0 0 9em rgba(13, 13, 14, 0.899), 0 0 1em rgba(251, 253, 255, 0.899);
    background-image: linear-gradient(to bottom,rgba(6, 6, 7, 0.899),rgba(102, 48, 190, 0.657));
    
    min-width: 80%;
    min-height: 80%;
    max-width: 90%;
    max-height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Lines*/
.matriz .linha{
    display: flex;
    flex-direction: row;
}

/*ITEM - Project display position*/
.matriz .item{
    width: 300px;
    height: 200px;

    background-color: white;
    margin: 30px;

    border-radius: 10px;
    box-shadow: inset 0 0 9em rgba(65, 121, 200, 0.555), 0 0 4em rgba(56, 122, 197, 0.899);

    transition: .6s;
}

.matriz .item:hover{
    box-shadow: inset 0 0 6em rgba(250, 248, 249, 0.555), 0 0 3em rgba(255, 255, 255, 0.904);
}
/*End*/

@media (max-width: 1400px){
    #titulo{
        font-size: 28px;
    } 

    .matriz .item{
        width: 280px;
        height: 180px;
    } 
}
