    /*Div img Options*/
    #homeOptions {
        z-index: 2000;
        bottom: 0;
        max-width: 70%;
        max-height: 100%;

    /*Effect Hologram*/
        position: absolute;
        width: 65%;
        height: 100vh;
        overflow: hidden;
    /*END*/  
    }

    /*Img Options - Principal*/
    #homeOptions img {
        position: absolute;
        bottom: 0;
        max-width: 100%;
        max-height: 100%;
    }

    /*Box Effect Hologram*/
    .box{
        position: absolute;
        background: url(../../img/options/homeOptions.png);
        background-attachment: fixed;
    }

    /*Div Apresentação Guilherme*/
    #bemVindo {
        z-index: 3000;

        text-align: center;

        max-width: 30%;
        max-height: 100%;

        position: absolute;

        right: 5%;
        top: 15%;
        bottom: 15%;
    }

    #social svg{
        height: 10%;
        width: 10%;
    }

