#titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 100%;
    margin: 0%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.matriz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 3000;
}

.panel{
    border-radius: 20px;
    box-shadow: inset 0 0 9em rgba(158, 65, 212, 0.555), 0 0 4em rgba(192, 46, 143, 0.904);
    background-color: rgba(0, 0, 0, 0.644);

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    min-width: 80%;
    min-height: 80%;
    max-width: 90%;
    max-height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Linhas*/
.matriz .linha{
    display: flex;
    flex-direction: row;
}

/*ITEM - Posicao de exibicao dos projetos*/
.matriz .item{
    width: 300px;
    height: 200px;

    background-color: white;
    margin: 30px;

    border-radius: 10px;
    box-shadow: inset 0 0 6em rgba(158, 65, 212, 0.555), 0 0 3em rgba(192, 46, 143, 0.904);

    transition: .6s;
}

.matriz .item:hover{
    box-shadow: inset 0 0 6em rgba(212, 65, 168, 0.555), 0 0 3em rgba(255, 255, 255, 0.904);
}

@media (max-width: 600px){
    .matriz .linha{
        flex-direction: column;
    }

    .matriz{
        overflow-y: scroll;
    }
}
