.matriz{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    position: absolute;
    z-index: 3000;
}

.panel{
    border-radius: 10px;
    box-shadow: inset 0 0 1em rgb(174, 0, 255);

    background-color: rgba(0, 0, 0, 0.801);

    min-width: 70%;
    min-height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Linhas*/
.matriz .linha{
    display: flex;
    flex-direction: row;
}

/*ITEM - Posicao de exibicao dos projetos*/
.matriz .item{
    width: 300px;
    height: 200px;

    background-color: white;
    margin: 30px;

    border-radius: 10px;
    box-shadow: inset 0 0 1em rgb(174, 0, 255);

    transition: .6s;
}

.matriz .item:hover{
    box-shadow: inset 0 0 1em rgb(255, 10, 2);
}

@media (max-width: 600px){
    .matriz .linha{
        flex-direction: column;
    }

    .matriz{
        overflow-y: scroll;
    }
}
